@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_ExternalLayout";
}

<!-- Header Start -->
    <div class="container" id="top-header">
        <div class="row">
            <div class="col-sm-6 col-xs-5">
                <a href="index-2.html">
                    <img src="@Url.Content("~/images/logo-blue.png")" class="m-t-15">
                </a>
            </div>
            <div class="col-sm-6 col-xs-7">
                <ul class="socials-icon pull-right">
                    <li>
                        <a href="#!">
                            <i class="icofont icofont-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <i class="icofont icofont-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <i class="icofont icofont-social-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <i class="icofont icofont-social-pinterest font-weight-bold"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <i class="icofont icofont-social-dribble font-weight-bold"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Nav-bar Start -->
    <!--<div class="container-fluid">-->
    <!--<nav class="navbar" data-spy="affix" data-offset-top="197">-->
    <nav class="navbar navbar-light bg-inverse" data-spy="affix" data-offset-top="197">
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="container">
            <div class="collapse navbar-toggleable-md" id="navbarResponsive">
                <ul class="nav navbar-nav pull-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="#header-bg">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-sec">Aboutus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tem">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonial">Testimoniol</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer-sec">Contactus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Dashboard")">Goto Admin Panel</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!--</nav>-->
    <!--</div>-->
    <!-- Nav-bar Ends -->
    <!-- Header Start -->
    <header id="header-bg" class="jarallax d-flex" data-jarallax='{"speed": 0.2}' style="background-image: url('@Url.Content("~/images/landingpage/banner-ln.jpg")');background-size: cover">
        <!-- Menu End -->
        <div class="container">
            <div id="home-header" class="home-content">
                <div class="col-md-7 col-sm-12">
                    <h1>A perfect landing page  for <br /><span>Portfolio Showcase</span></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <div class=" text-align-xs">
                        <a href="#!" class="btn btn-primary btn-md waves-effect waves-light m-r-30">
                            View More
                            &nbsp; <i class="icofont icofont-bubble-right"></i>
                        </a>
                        <a href="index-2.html" class="btn btn-default btn-md waves-effect waves-light">
                            BACK ADMIN PANEL
                            &nbsp; <i class="icofont icofont-bubble-left"></i>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Ends -->
    <!--Services start-->
    <section id="services">
        <div class="section-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                        <div class="box-process">
                            <a href="#!" class="ourpro-icon-wrap ourpro-icon-effect-8">
                                <i class="icofont icofont-ui-settings ourpro-icon"></i>
                            </a>
                            <h6>Fully Customizable</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. </p>
                            <a href="#!">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-25-xs">
                        <div class="box-process">
                            <a href="#!" class="ourpro-icon-wrap ourpro-icon-effect-8">
                                <i class="icofont icofont-ui-image ourpro-icon"></i>
                            </a>
                            <h6>Color Option</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. </p>
                            <a href="#!">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-25-xs">
                        <div class="box-process">
                            <a href="#!" class="ourpro-icon-wrap ourpro-icon-effect-8">
                                <i class="icofont icofont-responsive ourpro-icon"></i>
                            </a>
                            <h6>Fully Responsive</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. </p>
                            <a href="#!">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                        <div class="box-process">
                            <a href="#!" class="ourpro-icon-wrap ourpro-icon-effect-8">
                                <i class="icofont icofont-layout ourpro-icon"></i>
                            </a>
                            <h6>Creative Layouts</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. </p>
                            <a href="#!">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Services Ends-->
    <!--AboutUs Start Section-->
    <section>
        <div id="about-sec" class="container-fluid about-sec">
            <div class="row d-flex about-sec">
                <div class="col-md-6 col-sm-12 p-0">
                    <img src="@Url.Content("~/images/landingpage/aboutus.jpg")" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 tablet-sc">
                                <h2 class="title-sec title-center">About Us</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis .
                                </p>
                                <ul>
                                    <li>
                                        <i class="icofont icofont-check"></i>
                                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel </p>
                                    </li>
                                    <li>
                                        <i class="icofont icofont-check"></i>
                                        <p>velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, </p>
                                    </li>
                                    <li>
                                        <i class="icofont icofont-check"></i>
                                        <p>nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit </p>
                                    </li>
                                    <li>
                                        <i class="icofont icofont-check"></i>
                                        <p>amet nibh vulputate sed odio sit</p>
                                    </li>
                                </ul>
                                <div class="mob-text">
                                    <button type="button" class="btn btn-primary btn-md waves-effect waves-light m-r-20">
                                        Read More <i class="icofont icofont-bubble-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--AboutUs End Section-->
    <!--What We Do Section Start-->
    <section class="section-bg">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="title">
                    <h2 class="title-center">WHAT WE DO?</h2>
                </div>
            </div>
            <div class="port-tab">
                <div class="port-filt-group">
                    <ul class="portfolioFilter text-center">
                        <li>
                            <button data-filter="*" class="btn current">All</button>
                        </li>
                        <li>
                            <button data-filter=".design" class="btn">Design</button>
                        </li>
                        <li>
                            <button data-filter=".development" class="btn">Development </button>
                        </li>
                        <li>
                            <button data-filter=".photography" class="btn">Photography</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="grid">
                    <div class="portfolioContainer">
                        <div class="col-md-3 col-sm-6 col-xs-12 design grid-item ">
                            <div class="text-center port-main">
                                <img class="img img-fluid" src="@Url.Content("~/images/landingpage/portfolio1.jpg")" alt="Portfolio1">
                                <a class="example-image-link" href="@Url.Content("~/images/landingpage/getin1-big.jpg")" data-lightbox="example-1">
                                    <div class="port-content d-flex">
                                        <div class="port-text">
                                            <i class="ion-plus"></i>
                                            <h4>project name</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 design development grid-item">
                            <div class="text-center port-main">
                                <img class="img img-fluid" src="@Url.Content("~/images/landingpage/portfolio2.jpg")" alt="Portfolio2">
                                <a class="example-image-link" href="@Url.Content("~/images/landingpage/getin2-big.jpg")" data-lightbox="example-1">
                                    <div class="port-content d-flex">
                                        <div class="port-text">
                                            <i class="ion-plus"></i>
                                            <h4>project name</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 design development grid-item">
                            <div class="text-center port-main">
                                <img class="img img-fluid" src="@Url.Content("~/images/landingpage/portfolio3.jpg")" alt="Portfolio3">
                                <a class="example-image-link" href="@Url.Content("~/images/landingpage/getin1-big.jpg")" data-lightbox="example-1">
                                    <div class="port-content d-flex">
                                        <div class="port-text">
                                            <i class="ion-plus"></i>
                                            <h4>project name</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 development grid-item">
                            <div class="text-center port-main">
                                <img class="img img-fluid" src="@Url.Content("~/images/landingpage/portfolio4.jpg")" alt="Portfolio14">
                                <a class="example-image-link" href="@Url.Content("~/images/landingpage/getin4-big.jpg")" data-lightbox="example-1">
                                    <div class="port-content d-flex">
                                        <div class="port-text">
                                            <i class="ion-plus"></i>
                                            <h4>project name</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 photography grid-item">
                            <div class="text-center port-main">
                                <img class="img img-fluid" src="@Url.Content("~/images/landingpage/portfolio5.jpg")" alt="Portfolio5">
                                <a class="example-image-link" href="@Url.Content("~/images/landingpage/getin1-big.jpg")" data-lightbox="example-1">
                                    <div class="port-content d-flex">
                                        <div class="port-text">
                                            <i class="ion-plus"></i>
                                            <h4>project name</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 photography graphic grid-item">
                            <div class="text-center port-main">
                                <img class="img img-fluid" src="@Url.Content("~/images/landingpage/portfolio6.jpg")" alt="Portfolio6">
                                <div class="port-content d-flex">
                                    <div class="port-text">
                                        <i class="ion-plus"></i>
                                        <h4>project name</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 photography price grid-item">
                            <div class="text-center port-main">
                                <img class="img img-fluid" src="@Url.Content("~/images/landingpage/portfolio7.jpg")" alt="Portfolio7">
                                <a class="example-image-link" href="@Url.Content("~/images/landingpage/getin1-big.jpg")" data-lightbox="example-1">
                                    <div class="port-content d-flex">
                                        <div class="port-text">
                                            <i class="ion-plus"></i>
                                            <h4>project name</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 design development photography">
                            <div class="text-center port-main">
                                <img class="img img-fluid" src="@Url.Content("~/images/landingpage/portfolio2.jpg")" alt="Portfolio12">
                                <a class="example-image-link" href="@Url.Content("~/images/landingpage/getin1-big.jpg")" data-lightbox="example-1">
                                    <div class="port-content d-flex">
                                        <div class="port-text">
                                            <i class="ion-plus"></i>
                                            <h4>project name</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--What We Do Section Ends-->
    <!--Our Creatives Section Start-->
    <section id="our-creatives" class="section-tb our-creatives">
        <div class="container">
            <div class="row text-center">
                <div class="title">
                    <h2 class="title-center">OUR CREATIVES </h2>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 offset-md-2 text-center">
                    <P class="m-b-40">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat i</P>
                </div>
            </div>
            <div class="row text-center team">
                <div class="col-lg-4 col-md-12">
                    <div class=" team-block">
                        <img class="img img-fluid" src="@Url.Content("~/images/landingpage/team-01.jpg")" alt="team1" />
                        <div class="img-hover"></div>
                        <div class="team-desc">
                            <div class="team-name"><h4>Patrica Arton</h4></div>
                            <div class="team-position txt-primary">Marketing Director</div>
                            <ul class="team-socials">
                                <li class="fb"><a href="#!"><i class="icofont icofont-social-facebook"></i></a></li>
                                <li class="twt"><a href="#!"><i class="icofont icofont-social-twitter"></i></a></li>
                                <li class="skype"><a href="#!"><i class="icofont icofont-social-skype"></i></a></li>
                                <li class="l_in"><a href="#!"><i class="icofont icofont-brand-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class=" team-block">
                        <img class="img img-fluid" src="@Url.Content("~/images/landingpage/team-03.jpg")" alt="team1" />
                        <div class="img-hover"></div>
                        <div class="team-desc">
                            <div class="team-name"><h4>Patrica Arton</h4></div>
                            <div class="team-position txt-primary">Marketing Director</div>
                            <ul class="team-socials">
                                <li class="fb"><a href="#!"><i class="icofont icofont-social-facebook"></i></a></li>
                                <li class="twt"><a href="#!"><i class="icofont icofont-social-twitter"></i></a></li>
                                <li class="skype"><a href="#!"><i class="icofont icofont-social-skype"></i></a></li>
                                <li class="l_in"><a href="#!"><i class="icofont icofont-brand-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="team-block">
                        <img class="img img-fluid" src="@Url.Content("~/images/landingpage/team-02.jpg")" alt="team1" />
                        <div class="img-hover"></div>
                        <div class="team-desc">
                            <div class="team-name"><h4>Patrica Arton</h4></div>
                            <div class="team-position txt-primary">Marketing Director</div>
                            <ul class="team-socials">
                                <li class="fb"><a href="#!"><i class="icofont icofont-social-facebook"></i></a></li>
                                <li class="twt"><a href="#!"><i class="icofont icofont-social-twitter"></i></a></li>
                                <li class="skype"><a href="#!"><i class="icofont icofont-social-skype"></i></a></li>
                                <li class="l_in"><a href="#!"><i class="icofont icofont-brand-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Our Creatives Section Ends-->
    <!--Pricing List Section Starts-->
    <section id="pricing" class="section-bg">
        <div class="container">
            <div class="row text-center">
                <div class="title">
                    <h2 class="title-center"> PRICING LIST </h2>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 offset-md-2 text-center">
                    <P class="m-b-40">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat i</P>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="pricing-table">
                        <div class="pricing-table-header">
                            <h3>Premium</h3>
                            <div class="price">
                                <span class="price-currency">
                                    $
                                </span>
                                <span class="price-number">
                                    45
                                </span>
                                <span class="price-period">
                                    Per Month
                                </span>
                            </div>
                        </div>
                        <ul class="pricing-table-items">
                            <li>
                                <i class="icofont icofont-check"></i> 30 GB Storage
                            </li>
                            <li>
                                <i class="icofont icofont-check"></i> 500 GB Bandwidth
                            </li>
                            <li>
                                <i class="icofont icofont-check"></i> 24/7 Customer Support
                            </li>
                            <li>
                                <i class="icofont icofont-close"></i> Virus Protected
                            </li>
                            <li>
                                <i class="icofont icofont-close"></i> 0 GB Storage
                            </li>
                        </ul>
                        <div class="signup-btn">
                            <button type="button" class="btn-primary btn-sm waves-effect waves-light">Sign Up </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-table">
                        <div class="pricing-table-header">
                            <h3 class="free-pricing">
                                Free
                            </h3>
                            <label class="pricing-new">New</label>
                        </div>
                        <ul class="pricing-table-items">
                            <li>
                                <i class="icofont icofont-check"></i> 30 GB Storage
                            </li>
                            <li>
                                <i class="icofont icofont-check"></i> 500 GB Bandwidth
                            </li>
                            <li>
                                <i class="icofont icofont-check"></i> 24/7 Customer Support
                            </li>
                            <li>
                                <i class="icofont icofont-close"></i> Virus Protected
                            </li>
                            <li>
                                <i class="icofont icofont-close"></i> 0 GB Storage
                            </li>
                        </ul>
                        <div class="signup-btn">
                            <button type="button" class="btn-primary btn-sm waves-effect waves-light">Sign Up </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-table">
                        <div class="pricing-table-header">
                            <h3>
                                Standard
                            </h3>
                            <div class="price">
                                <span class="price-currency">
                                    $
                                </span>
                                <span class="price-number">
                                    65
                                </span>
                                <span class="price-period">
                                    Per Month
                                </span>
                            </div>
                        </div>
                        <ul class="pricing-table-items">
                            <li>
                                <i class="icofont icofont-check"></i> 30 GB Storage
                            </li>
                            <li>
                                <i class="icofont icofont-check"></i> 500 GB Bandwidth
                            </li>
                            <li>
                                <i class="icofont icofont-check"></i> 24/7 Customer Support
                            </li>
                            <li>
                                <i class="icofont icofont-close"></i> Virus Protected
                            </li>
                            <li>
                                <i class="icofont icofont-close"></i> 0 GB Storage
                            </li>
                        </ul>
                        <div class="signup-btn">
                            <button type="button" class="btn-primary btn-sm waves-effect waves-light">Sign Up </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Pricing List  Section Ends-->
    <!--Latest Blog Section Starts-->
    <section id="blog" class="section-tb">
        <div class="container">
            <div class="row text-center">
                <div class="title">
                    <h2 class="title-center"> LATEST BLOG  </h2>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 offset-md-2 text-center">
                    <P class="m-b-40">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat i</P>
                </div>
            </div>
            <div class="row">
                <div class="item col-lg-4 col-md-6 m-b-xs-25">
                    <div class="blog-img">
                        <a href="#!"> <img class="img-fluid" src="@Url.Content("~/images/landingpage/blog-1.jpg")" alt="blog-img"> </a>
                        <div class="blog-hover-detail d-flex">
                            <div class="m-x-auto text-center">
                                <h5 class="text-center">Share This Post</h5>
                                <ul class="team-socials">
                                    <li class="fb"><a href="#!"><i class="icofont icofont-social-facebook"></i></a></li>
                                    <li class="twt"><a href="#!"><i class="icofont icofont-social-twitter"></i></a></li>
                                    <li class="skype"><a href="#!"><i class="icofont icofont-social-skype"></i></a></li>
                                    <li class="l_in"><a href="#!"><i class="icofont icofont-brand-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6>Super-flexible landing page</h6>
                        <div class="date-blog m-b-10"><span><i class="icofont icofont-ui-calendar"></i> 20 jun 2017</span><span><i class="icofont icofont-ui-user"></i> John Doe</span></div>
                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...... </p>
                        <div class="text-right">
                            <span class="read-more"><a href="#!" title="Read More">Read More <i class="icofont icofont-double-right"></i></a></span>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4 col-md-6 m-b-xs-25">
                    <div class="blog-img">
                        <img class="img-fluid " src="@Url.Content("~/images/landingpage/blog-2.jpg")" alt="blog-img">
                        <div class="blog-hover-detail d-flex">
                            <div class="m-x-auto text-center">
                                <h5 class="text-center">Share This Post</h5>
                                <ul class="team-socials">
                                    <li class="fb"><a href="#!"><i class="icofont icofont-social-facebook"></i></a></li>
                                    <li class="twt"><a href="#!"><i class="icofont icofont-social-twitter"></i></a></li>
                                    <li class="skype"><a href="#!"><i class="icofont icofont-social-skype"></i></a></li>
                                    <li class="l_in"><a href="#!"><i class="icofont icofont-brand-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6>Super-flexible landing page</h6>
                        <div class="date-blog m-b-10"><span><i class="icofont icofont-ui-calendar"></i> 20 jun 2017</span><span><i class="icofont icofont-ui-user"></i> John Doe</span></div>
                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...... </p>
                        <div class="text-right">
                            <span class="read-more"><a href="#!" title="Read More">Read More <i class="icofont icofont-double-right"></i></a></span>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-4 col-md-6">
                    <div class="blog-img">
                        <img class="img-fluid " src="@Url.Content("~/images/landingpage/blog-3.jpg")" alt="blog-img")">
                        <div class="blog-hover-detail d-flex">
                            <div class="m-x-auto text-center">
                                <h5 class="text-center">Share This Post</h5>
                                <ul class="team-socials">
                                    <li class="fb"><a href="#!"><i class="icofont icofont-social-facebook"></i></a></li>
                                    <li class="twt"><a href="#!"><i class="icofont icofont-social-twitter"></i></a></li>
                                    <li class="skype"><a href="#!"><i class="icofont icofont-social-skype"></i></a></li>
                                    <li class="l_in"><a href="#!"><i class="icofont icofont-brand-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6>Super-flexible landing page</h6>
                        <div class="date-blog m-b-10"><span><i class="icofont icofont-ui-calendar"></i> 20 jun 2017</span><span><i class="icofont icofont-ui-user"></i> John Doe</span></div>
                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...... </p>
                        <div class="text-right">
                            <span class="read-more"><a href="#!" title="Read More">Read More <i class="icofont icofont-double-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--Latest Blog Section Ends-->
    <!--Testimonials Section Starts-->
    <section id="testimonial" data-jarallax='{"speed": 0.2}' class="jarallax testimonial text-center testimonial-bg"
             style="background-image: url(@Url.Content("~/images/landingpage/testimon.jpg"));">
        <div class="container section-tb">
            <div class="row d-flex">
                <div class="col-md-12">
                    <!-- TESTIMONIAL CONTAINER  -->
                    <div class="text-center">
                        <div class="title">
                            <h2 class="title-center"> Testimonial </h2>
                        </div>
                    </div>
                    <div id="testimonial-slider" class="testimonial-slider">
                        <div>
                            <div class="col-md-8 col-sm-12 col-xs-12 offset-md-2 text-center">
                                <p>
                                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat i
                                </p>
                            </div>
                        </div>
                        <div>

                            <div class="col-md-8 col-sm-12 col-xs-12 offset-md-2 text-center">
                                <p>
                                    2.Holisticly empower leveraged ROI whereas effective
                                    web-readiness. Completely enable emerging
                                    meta-services with cross-platform web services. Quickly initiate inexpensive total linkage
                                    rather
                                    than extensible scenarios. Holisticly empower leveraged ROI whereas effective web-readiness.
                                </p>
                            </div>
                        </div>
                        <div>

                            <div class="col-md-8 col-sm-12 col-xs-12 offset-md-2 text-center">
                                <p>
                                    3.Holisticly empower leveraged ROI whereas effective web-readiness. Completely enable
                                    emerging
                                    meta-services with cross-platform web services. Quickly initiate inexpensive total
                                    linkage rather
                                    than extensible scenarios. Holisticly empower leveraged ROI whereas effective
                                    web-readiness.
                                </p>
                            </div>
                        </div>
                        <div>

                            <div class="col-md-8 col-sm-12 col-xs-12 offset-md-2 text-center">
                                <p>
                                    4.Holisticly empower leveraged ROI whereas effective web-readiness. Completely enable
                                    emerging
                                    meta-services with cross-platform web services. Quickly initiate inexpensive total
                                    linkage rather
                                    than extensible scenarios. Holisticly empower leveraged ROI whereas effective
                                    web-readiness.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="testimonial-carousel" class="testimonial-thumbs">
                        <div>
                            <img src="@Url.Content("~/images/landingpage/testimonials1.png")" alt="" />
                            <div>
                                <h5 class="text-uppercase">Jane Doe</h5>
                                <h6>Graphics Designer</h6>
                            </div>
                        </div>
                        <div>
                            <img src="@Url.Content("~/images/landingpage/testimonials2.png")" alt="" />
                            <div>
                                <h5 class="text-uppercase">Domeni GEssone</h5>
                                <h6>Ui Testing</h6>
                            </div>
                        </div>
                        <div>
                            <img src="@Url.Content("~/images/landingpage/testimonials3.png")" alt="" />
                            <div>
                                <h5 class="text-uppercase">Elizabeth Doe</h5>
                                <h6>Web Developer</h6>
                            </div>
                        </div>
                        <div>
                            <img src="@Url.Content("~/images/landingpage/testimonials2.png")" alt="" />
                            <div>
                                <h5 class="text-uppercase">Amit Shah</h5>
                                <h6>Coding Department</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonials Section Ends-->
    <!--Our Cliens Section Starts-->
    <section id="tem" class="section-tb">
        <div class="container">
            <div class="row text-center">
                <div class="title">
                    <h2 class="title-center"> OUR CLIENS </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="ourclientsslid text-center">
                        <div class="logo-client">
                            <a href="#!">  <img src="@Url.Content("~/images/landingpage/clients-logo1.png")" class="img-fluid" alt="OurClients"> </a>
                        </div>
                        <div class="logo-client">
                            <a href="#!"> <img src="@Url.Content("~/images/landingpage/clients-logo2.png")" class="img-fluid" alt="OurClients"> </a>
                        </div>
                        <div class="logo-client">
                            <a href="#!">  <img src="@Url.Content("~/images/landingpage/clients-logo3.png")" class="img-fluid" alt="OurClients"> </a>
                        </div>
                        <div class="logo-client">
                            <a href="#!"><img src="@Url.Content("~/images/landingpage/clients-logo4.png")" class="img-fluid" alt="OurClients"></a>
                        </div>
                        <div class="logo-client">
                            <a href="#!"><img src="@Url.Content("~/images/landingpage/clients-logo5.png")" class="img-fluid" alt="OurClients"> </a>
                        </div>
                        <div class="logo-client">
                            <a href="#!"><img src="@Url.Content("~/images/landingpage/clients-logo6.png")" class="img-fluid" alt="OurClients"></a>
                        </div>
                        <div class="logo-client">
                            <a href="#!"><img src="@Url.Content("~/images/landingpage/clients-logo6.png")" class="img-fluid" alt="OurClients"></a>
                        </div>
                        <div class="logo-client">
                            <a href="#!"><img src="@Url.Content("~/images/landingpage/clients-logo5.png")" class="img-fluid" alt="OurClients"></a>
                        </div>
                        <div class="logo-client">
                            <a href="#!"><img src="@Url.Content("~/images/landingpage/clients-logo4.png")" class="img-fluid" alt="OurClients"></a>
                        </div>
                        <div class="logo-client">
                            <a href="#!"><img src="@Url.Content("~/images/landingpage/clients-logo3.png")" class="img-fluid" alt="OurClients"></a>
                        </div>
                        <div class="logo-client">
                            <a href="#!"><img src="@Url.Content("~/images/landingpage/clients-logo2.png")" class="img-fluid" alt="OurClients"></a>
                        </div>
                        <div class="logo-client">
                            <a href="#!"><img src="@Url.Content("~/images/landingpage/clients-logo1.png")" class="img-fluid" alt="OurClients"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Our Cliens Section Ends-->