<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from ableproadmin.com/light/vertical/landing-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 10 Feb 2017 18:29:32 GMT -->
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords"
          content=", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/bootstrap.min.css")">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/icon/icofont/css/icofont.css")">

    <link rel="stylesheet" href="@Url.Content("~/css/jarallax-demo.css")">

    <!-- waves css -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/plugins/waves/css/waves.min.css")">

    <!--image popup use css-->
    <link href="@Url.Content("~/plugins/light-box2/css/lightbox.css")" rel="stylesheet">

    <!-- slick.css-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/slick.css")">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/main.css")">

    <!-- Responsive.css-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/responsive.css")">

    <!-- Style css -->
    <link rel="stylesheet" href="@Url.Content("~/css/landingpage.css")">

    <!--color css-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/color/color-1.css")" id="color" />

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    @RenderBody()
    
    <!--Join With Us Section Stars-->
    <section id="joinus" class="join-us">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-9">
                    <h3>Join with Us and  Give your Website Brand features!</h3>
                </div>
                <div class="col-md-3">
                    <a href="index-2.html" class="btn btn-default btn-md waves-effect waves-light">BACK ADMIN PANEL</a>
                </div>
            </div>
        </div>
    </section>
    <!--Join With Us Section Ends-->
    <!--Footer Section Starts-->
    <footer id="footer-sec" data-jarallax='{"speed": 0.2}' class="jarallax section-tb footer" style="background-image: url(@Url.Content("~/images/landingpage/footer-bg.jpg"));">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-about m-b-xs-15">
                    <h3 class="footer-header">About Us</h3>
                    <p>This is Photoshop's version of Lorem impsum. Proin gra vi da nibh vel velit a uctor aliquet.</p>
                    <ul class="footer_widget">
                        <li class="footer_address">
                            <i class="icofont icofont-location-pin"></i>
                            <h5>308, Royal Square, Utran,<br /> Surat - 395006</h5>
                        </li>
                        <li class="footer_contact">
                            <i class="icofont icofont-ui-cell-phone"></i>
                            <h5>Inquiry - 8100 567 435 </h5>
                        </li>
                        <li class="footer-web">
                            <i class="icofont icofont-globe"></i>
                            <h5>www.phoenixcoded.com</h5>
                        </li>
                        <li class="footer_email">
                            <i class="icofont icofont-email"></i>
                            <h5>demo@phoenixcoded.com</h5>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-gallery m-b-xs-15">
                    <h3 class="footer-header">Gallery</h3>
                    <ul>
                        <li>
                            <a href="#!">
                                <img src="@Url.Content("~/images/landingpage/1.jpg")" alt="" class="img-fluid">
                                <div class="footer-hvr-effect"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="@Url.Content("~/images/landingpage/2.jpg")" alt="" class="img-fluid">
                                <div class="footer-hvr-effect"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="@Url.Content("~/images/landingpage/3.jpg")" alt="" class="img-fluid">
                                <div class="footer-hvr-effect gradient_bg"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="@Url.Content("~/images/landingpage/4.jpg")" alt="" class="img-fluid">
                                <div class="footer-hvr-effect"></div>
                            </a>

                        </li>
                        <li>
                            <a href="#!">
                                <img src="@Url.Content("~/images/landingpage/5.jpg")" alt="" class="img-fluid">
                                <div class="footer-hvr-effect"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="@Url.Content("~/images/landingpage/6.jpg")" alt="" class="img-fluid">
                                <div class="footer-hvr-effect"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-menu m-b-xs-15">
                    <h3 class="footer-header">Menu</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul>
                                <li><a href="#!"><i class="icofont icofont-rounded-double-right"></i><h5>Portfolio</h5></a></li>
                                <li>
                                    <a href="#!"><i class="icofont icofont-rounded-double-right"></i><h5>Testinomial</h5></a>
                                </li>
                                <li><a href="#!"><i class="icofont icofont-rounded-double-right"></i><h5>Blog</h5></a></li>
                                <li><a href="#!"><i class="icofont icofont-rounded-double-right"></i><h5>Team</h5></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li>
                                    <a href="#!"><i class="icofont icofont-rounded-double-right"></i><h5>Pricing Plan</h5></a>
                                </li>
                                <li><a href="#!"><i class="icofont icofont-rounded-double-right"></i><h5>Contact Us</h5></a></li>
                                <li><a href="#!"><i class="icofont icofont-rounded-double-right"></i><h5>Appoinment</h5></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-news">
                    <h3 class="footer-header">Newsletter Signup</h3>
                    <p>Subscribe for newsletter for latest updates about our app.</p>
                    <form id="subscribe_form" method="post" action="#">

                        <div class="input-group subscribe-btn">
                            <input type="text" class="form-control" placeholder="Enter Email Id">
                            <button class="btn waves-effect waves-light" type="button">
                                <i class="icofont icofont-double-right"></i>
                            </button>
                        </div>
                        <div>
                            <div class="d-flex follow-sec">
                                <h5>Follow us&nbsp;:&nbsp; &nbsp;</h5>
                                <ul class="team-socials">
                                    <li class="fb"><a href="#!"><i class="icofont icofont-social-facebook"></i></a></li>
                                    <li class="twt"><a href="#!"><i class="icofont icofont-social-twitter"></i></a></li>
                                    <li class="skype"><a href="#!"><i class="icofont icofont-social-skype"></i></a></li>
                                    <li class="l_in"><a href="#!"><i class="icofont icofont-brand-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright">
        <h5 class="text-center"><a href="#!"> Copyright © 2016. All rights reserved </a></h5>
    </div>
    <!--Footer Section Ends-->
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Move to up -->
    <a class="waves-effect waves-light scrollup scrollup-icon"><i class="icofont icofont-arrow-up "></i></a>

    <!-- Required Jqurey -->
    <script src="@Url.Content("~/js/jquery-3.1.1.min.js")"></script>
    <script src="@Url.Content("~/js/tether.min.js")"></script>

    <!-- light Box Jquery Start -->
    <script src="@Url.Content("~/js/lightbox-plus-jquery.min.js")"></script>

    <!-- waves effects.js -->
    <script src="@Url.Content("~/plugins/waves/js/waves.min.js")"></script>

    <!-- Required Fremwork -->
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/js/jarallax.js")"></script>

    <!--slick JS -->
    <script src="@Url.Content("~/js/slick.min.js")"></script>

    <!-- Isotope js What We Do -->
    <script src="@Url.Content("~/plugins/isotope/js/jquery.isotope.js")"></script>
    <script src="@Url.Content("~/plugins/isotope/js/isotope.pkgd.min.js")"></script>

    <!-- custom landing page js -->
    <script type="text/javascript" src="@Url.Content("~/pages/landing-page.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/common-pages.js")"></script>
    <script>
    $(window).on('load',function(){
    $('#pre-loader').fadeOut('slow');
});
    </script>
</body>

<!-- Mirrored from ableproadmin.com/light/vertical/landing-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 10 Feb 2017 18:31:55 GMT -->
</html>
